<article class="card {{ card_special_class }}">
    <a href="{{ path_for('single-post', {'slug': infos.slug, 'uuid': infos.uuid}) }}">
        <header class="card-thumb">
            <div class="img" style="background-image: url({{ infos.thumb_url }})"></div>
        </header>
    </a>
    <div class="card-body">
        <div class="card-title"><a
                    href="{{ path_for('single-post', {'slug': infos.slug, 'uuid': infos.uuid}) }}">{{ infos.title }}</a>
        </div>
        <div class="card-subtitle">
            <a href="{{ path_for('single-post', {'slug': infos.slug, 'uuid': infos.uuid}) }}">
                <i class="icon icon-user"></i>
                {{ infos.author.name }}
            </a>
            <a href="{{ path_for('single-post', {'slug': infos.slug, 'uuid': infos.uuid}) }}">
                <i class="icon icon-time"></i>
                {{ timeago(infos.created_at) }}
            </a>
        </div>
        <p class="card-description">
            {% if card_special_class == 'card-second' %}
                <a class="button button-primary" href="{{ path_for('single-post', {'slug': infos.slug, 'uuid': infos.uuid}) }}">Lire plus</a>
            {% endif %}
            {% if card_special_class != 'card-second' %}
                {{ infos.summary }}
            {% endif %}
        </p>
    </div>
</article>