{% extends "default.twig" %}
{% set show_title = true %}
{% set title = "Staff" %}
{% set sub_title = "Liste du staff" %}
{% block content %}
    <!-- Main content -->
    <div class="staff">
        <section>
            <h4 class="heading heading-bar"><span>Administrateurs</span></h4>
            <ul class="players-list">
                {% for key in admin %}
                    <li>
                        <img src="https://api.badblock.fr/public/badblock-heads/?name={{ key[0] }}"
                             class="players-list-avatar">
                        <div class="players-list-info">
                            <span class="players-list-username">{{ key[0] }}</span>
                            <span class="players-list-summary">{{ key[1] }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h4 class="heading heading-bar"><span>Développeurs</span></h4>
            <ul class="players-list">
                {% for key in dev %}
                    <li>
                        <img src="https://api.badblock.fr/public/badblock-heads/?name={{ key[0] }}"
                             class="players-list-avatar">

                        <div class="players-list-info">
                            <span class="players-list-username">{{ key[0] }}</span>
                            <span class="players-list-summary">{{ key[1] }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h4 class="heading heading-bar"><span>Responsables</span></h4>
            <ul class="players-list">
                {% for key in resp %}
                    <li>
                        <img src="https://api.badblock.fr/public/badblock-heads/?name={{ key[0] }}"
                             class="players-list-avatar">

                        <div class="players-list-info">
                            <span class="players-list-username">{{ key[0] }}</span>
                            <span class="players-list-summary">{{ key[1] }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h4 class="heading heading-bar"><span>Superviseurs</span></h4>
            <ul class="players-list">
                {% for key in sup %}
                    <li>
                        <img src="https://api.badblock.fr/public/badblock-heads/?name={{ key[0] }}"
                             class="players-list-avatar">

                        <div class="players-list-info">
                            <span class="players-list-username">{{ key[0] }}</span>
                            <span class="players-list-summary">{{ key[1] }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h4 class="heading heading-bar"><span>Modérateurs</span></h4>
            <ul class="players-list">
                {% for key in modo %}
                    <li>
                        <img src="https://api.badblock.fr/public/badblock-heads/?name={{ key[0] }}"
                             class="players-list-avatar">

                        <div class="players-list-info">
                            <span class="players-list-username">{{ key[0] }}</span>
                            <span class="players-list-summary">{{ key[1] }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h4 class="heading heading-bar"><span>Helpers</span></h4>
            <ul class="players-list">
                {% for key in help %}
                    <li>
                        <img src="https://api.badblock.fr/public/badblock-heads/?name={{ key[0] }}"
                             class="players-list-avatar">

                        <div class="players-list-info">
                            <span class="players-list-username">{{ key[0] }}</span>
                            <span class="players-list-summary">{{ key[1] }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h4 class="heading heading-bar"><span>Modérateurs forum</span></h4>
            <ul class="players-list">
                {% for key in modof %}
                    <li>
                        <img src="https://api.badblock.fr/public/badblock-heads/?name={{ key[0] }}"
                             class="players-list-avatar">

                        <div class="players-list-info">
                            <span class="players-list-username">{{ key[0] }}</span>
                            <span class="players-list-summary">{{ key[1] }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h4 class="heading heading-bar"><span>Staff</span></h4>
            <ul class="players-list">
                {% for key in staff %}
                    <li>
                        <img src="https://api.badblock.fr/public/badblock-heads/?name={{ key[0] }}"
                             class="players-list-avatar">
                        <span class="players-list-username">{{ key[0] }}</span>
                        <span class="players-list-summary">{{ key[1] }}</span>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
    <!-- Main content fin -->

{% endblock %}