{% extends "default.twig" %}
{% set show_title = false %}
{% set active_page = "stats" %}
{% set title = user.name %}
{% set subtitle = 'Ses statistiques' %}
{% block cover %}
    <!------Cover------>
    <div class="cover-back">
        <div class="cover cover-profile">
            <div class="container">
                <div class="one-half column animated bounceInLeft">
                    <div class="profile-title">
                        <div class="profile-mc-head"><img src="https://api.badblock.fr/public/badblock-heads/?name={{ user.name }}" title="Tête du skin"></div>
                        <div>
                            <h2 class="cover-heading">{{ user.name }}</h2>
                            <span class="badge badge-{{ user.permissions.group }}">{{ ucfirst(user.permissions.group) }}</span>
                            {% for key, permission in user.permissions.alternateGroups %}
                                <span class="badge badge-{{ key }}">{{ ucfirst(key) }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-info">
                <div class="container">
                    <ul>
                        <li><i class="icon icon-bookmarkalt"></i> {{ user.game.level }} <span>Levels</span></li>
                        <li><i class="icon icon-bookmarkalt"></i> {{ user.game.xp }} <span>Xp</span></li>
                        <li><i class="icon icon-value-coins"></i> {{ user.game.badcoins }} <span>BadCoins</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!------Cover fin------>
{% endblock %}
{% block content %}
    {% if user.punish.mute == true %}
        <div class="alert alert-warning" role="alert">
            Cette personne est baillonné pour {{ user.punish.muteReason }} jusqu'au {{ timestampToTime(user.punish.muteEnd) }}
        </div>
    {% endif %}

    {% if user.punish.ban == true %}
        <div class="alert alert-warning" role="alert">
            Cette personne est baillonné pour {{ user.punish.banReason }} jusqu'au {{ timestampToTime(user.punish.banEnd) }}
        </div>
    {% endif %}
    <div class="profile-stats">

        <h2>Statistiques</h2>

        <div class="row">
            <div class="four columns">
                <div class="game-title"><h3>Tower <span class="badge badge-primary">{{ user.game.stats.tower.cpoints }} Points</span></h3></div>
                <table class="u-full-width">
                    <tbody>
                    <tr>
                        <td>Exécutions</td>
                        <td>{{ user.game.stats.tower.kills }}</td>
                    </tr>
                    <tr>
                        <td>Morts</td>
                        <td>{{ user.game.stats.tower.deaths }}</td>
                    </tr>
                    <tr>
                        <td>Points</td>
                        <td>{{ user.game.stats.tower.marks }}</td>
                    </tr>
                    <tr>
                        <td>Parties gagnés</td>
                        <td>{{ user.game.stats.tower.wins }}</td>
                    </tr>
                    <tr>
                        <td>Parties perdus</td>
                        <td>{{ user.game.stats.tower.looses }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="four columns">
                <div class="game-title"><h3>Rush <span class="badge badge-primary">{{ user.game.stats.rush.cpoints }} Points</span> </h3></div>
                <table class="u-full-width">
                    <tbody>
                    <tr>
                        <td>Exécutions</td>
                        <td>{{ user.game.stats.rush.wins }}</td>
                    </tr>
                    <tr>
                        <td>Morts</td>
                        <td>{{ user.game.stats.rush.deaths }}</td>
                    </tr>
                    <tr>
                        <td>Parties gagnés</td>
                        <td>{{ user.game.stats.rush.wins }}</td>
                    </tr>
                    <tr>
                        <td>Lit détruits</td>
                        <td>{{ user.game.stats.rush.brokenbeds }}</td>
                    </tr>
                    <tr>
                        <td>Parties perdus</td>
                        <td>{{ user.game.stats.rush.looses }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="four columns">
                <div class="game-title"><h3>Survival <span class="badge badge-primary">{{ user.game.stats.survival.cpoints }} Points</span></h3></div>
                <table class="u-full-width">
                    <tbody>
                    <tr>
                        <td>Exécutions</td>
                        <td>{{ user.game.stats.survival.kills }}</td>
                    </tr>
                    <tr>
                        <td>Morts</td>
                        <td>{{ user.game.stats.survival.deaths }}</td>
                    </tr>
                    <tr>
                        <td>Parties gagnés</td>
                        <td>{{ user.game.stats.survival.wins }}</td>
                    </tr>
                    <tr>
                        <td>Parties perdus</td>
                        <td>{{ user.game.stats.survival.looses }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="four columns">
                <div class="game-title"><h3>Uhc speed <span class="badge badge-primary">{{ user.game.stats.uhcspeed.cpoints }} Points</span></h3></div>
                <table class="u-full-width">
                    <tbody>
                    <tr>
                        <td>Exécutions</td>
                        <td>{{ user.game.stats.uhcspeed.kills }}</td>
                    </tr>
                    <tr>
                        <td>Morts</td>
                        <td>{{ user.game.stats.uhcspeed.deaths }}</td>
                    </tr>
                    <tr>
                        <td>Parties gagnés</td>
                        <td>{{ user.game.stats.uhcspeed.wins }}</td>
                    </tr>
                    <tr>
                        <td>Parties perdus</td>
                        <td>{{ user.game.stats.uhcspeed.looses }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="four columns">
                <div class="game-title"><h3>Pearls Wars <span class="badge badge-primary">{{ user.game.stats.pearlswar.cpoints }} Points</span></h3></div>
                <table class="u-full-width">
                    <tbody>
                    <tr>
                        <td>Exécutions</td>
                        <td>{{ user.game.stats.pearlswar.kills }}</td>
                    </tr>
                    <tr>
                        <td>Morts</td>
                        <td>{{ user.game.stats.pearlswar.deaths }}</td>
                    </tr>
                    <tr>
                        <td>Parties gagnés</td>
                        <td>{{ user.game.stats.pearlswar.wins }}</td>
                    </tr>
                    <tr>
                        <td>Parties perdus</td>
                        <td>{{ user.game.stats.pearlswar.looses }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="four columns">
                <div class="game-title"><h3>Spaceballs <span class="badge badge-primary">{{ user.game.stats.spaceballs.cpoints }} Points</span></h3></div>
                <table class="u-full-width">
                    <tbody>
                    <tr>
                        <td>Diamants</td>
                        <td>{{ user.game.stats.spaceballs.diamonds }}</td>
                    </tr>
                    <tr>
                        <td>Exécutions</td>
                        <td>{{ user.game.stats.spaceballs.kills }}</td>
                    </tr>
                    <tr>
                        <td>Parties gagnés</td>
                        <td>{{ user.game.stats.spaceballs.wins }}</td>
                    <tr>
                        <td>Morts</td>
                        <td>{{ user.game.stats.spaceballs.deaths }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="four columns">
                <div class="game-title"><h3>Capture The Sheep <span class="badge badge-primary">{{ user.game.stats.cts.cpoints }} Points</span></h3></div>
                <table class="u-full-width">
                    <tbody>
                    <tr>
                        <td>Exécutions</td>
                        <td>{{ user.game.stats.cts.kills }}</td>
                    </tr>
                    <tr>
                        <td>Morts</td>
                        <td>{{ user.game.stats.cts.deaths }}</td>
                    </tr>
                    <tr>
                        <td>Parties gagnés</td>
                        <td>{{ user.game.stats.cts.wins }}</td>
                    </tr>
                    <tr>
                        <td>Mouton Capturés</td>
                        <td>{{ user.game.stats.cts.capturedflags }}</td>
                    </tr>
                    <tr>
                        <td>Parties perdues</td>
                        <td>{{ user.game.stats.cts.looses }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
