{% extends "default.twig" %}
{% set show_title = 1 %}
{% set title = 'blog.title'|trans %}
{% set sub_title = 'blog.summary'|trans %}
{% block content %}
    <!-- Articles -->
    {% if nbNews > 0 %}
        <div class="articles-home">
            <div class="mosaic">
                {% for infos in news %}
                    {{ include('macros/card.twig') }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <!-- Articles Fin -->
    <!-- Pagination -->
    {% if haveToPaginate %}
        <div class="pagination-container">
            <!-- DC Pagination:A1 Start -->
            <ul class="tsc_pagination tsc_paginationA tsc_paginationA01">
                {#<li><a href="#" class="first">First</a></li>#}
                {% if currentPage > 1 %}
                    <li>
                        <a href="{{ path_for('all-posts') }}/{{ currentPage - 1 }}" aria-label="Previous"
                           class="previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for infos in pages %}
                    <li>
                        <a href="{{ path_for('all-posts') }}/{{ infos }}"
                           {% if infos == currentPage %}class="current"{% endif %}>
                            {{ infos }}
                        </a>
                    </li>
                {% endfor %}
                {% if currentPage < nbPage %}
                    <li>
                        <a href="{{ path_for('all-posts') }}/{{ currentPage + 1 }}" aria-label="Next" class="next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
                {#<li><a href="#" class="last">Last</a></li>#}
            </ul>
            <!-- DC Pagination:A1 End -->
        </div>
    {% endif %}
    {% if nbNews == 0 %}
        <!-- Si pas d'articles -->
        <div class="no-item-container">
            <div class="no-item-content">
                <h4><i class="icon-erroralt"></i></h4>
                <h4>{{ 'blog.no_posts'|trans }}</h4>
            </div>
        </div>
        <!-- Fin si pas d'articles -->
    {% endif %}
    <!-- Pagination fin -->
{% endblock %}
{% block scripts %}
{% endblock %}
